{#<nav class="container mx-auto px-4 py-2 flex justify-between items-center">#}
{#    <div class="flex items-center space-x-4">#}
{#        <svg#}
{#                xmlns="http://www.w3.org/2000/svg"#}
{#                width="24"#}
{#                height="24"#}
{#                viewBox="0 0 24 24"#}
{#                fill="none"#}
{#                stroke="currentColor"#}
{#                stroke-width="2"#}
{#                stroke-linecap="round"#}
{#                stroke-linejoin="round"#}
{#                class="h-8 w-8"#}
{#        >#}
{#            <path#}
{#                    d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"#}
{#            ></path>#}
{#            <line x1="4" x2="4" y1="22" y2="15"></line>#}
{#        </svg>#}
{#        <h1 class="text-xl font-semibold">品牌名</h1>#}
{#    </div>#}
{#    <div class="hidden md:flex space-x-6" hx-boost="true">#}
{#        <a class="text-sm" href="/">首页</a>#}
{#        <a class="text-sm" href="/dashboard/image">AI生成</a>#}
{#        <a class="text-sm" href="/dashboard/text">AI文案</a>#}
{#        <a class="text-sm" href="/dashboard/works">我的作品</a>#}
{#        <a class="text-sm" href="/dashboard/models/goods-model">模型管理</a>#}
{#        <a class="text-sm" href="/dashboard/chat">AI助手</a>#}
{#        <a class="text-sm" href="/dashboard">仪表盘</a>#}
{#        <a class="text-sm" href="/login">登录</a>#}
{#    </div>#}
{#</nav>#}
