<div class="relative z-50" id="headlessui-dialog-21" role="dialog" aria-modal="true" data-headlessui-state="open">
    <div class="fixed inset-0 transition-opacity bg-gray-200/75 dark:bg-gray-800/75"></div>
    <div class="fixed inset-0 overflow-y-auto">
        <div class="flex min-h-full items-end sm:items-center justify-center text-center p-4 sm:p-0">
            <div id="headlessui-dialog-panel-24" data-headlessui-state="open"
                 class="relative text-left rtl:text-right overflow-hidden flex flex-col bg-white dark:bg-gray-900 shadow-xl w-full sm:max-w-lg rounded-lg sm:my-8">
                <div class="flex flex-col flex-1 min-h-0 divide-y divide-gray-100 dark:divide-gray-800"
                     data-headlessui-state="open">
                    <div class="relative flex items-center"><span
                            class="i-heroicons-magnifying-glass-20-solid pointer-events-none absolute start-4 text-gray-400 dark:text-gray-500 h-4 w-4"
                            aria-hidden="true"></span><input value="" aria-expanded="true" aria-autocomplete="list"
                                                             id="headlessui-combobox-input-25" role="combobox"
                                                             type="text" tabindex="0" data-headlessui-state="open"
                                                             class="w-full placeholder-gray-400 dark:placeholder-gray-500 bg-transparent border-0 text-gray-900 dark:text-white focus:ring-0 focus:outline-none sm:text-sm h-12 px-4 ps-10"
                                                             placeholder="Search..." aria-label="Search..."
                                                             autocomplete="off"
                                                             aria-controls="headlessui-combobox-options-26"
                                                             aria-activedescendant="headlessui-combobox-option-36">
                        <!----></div>
                    <div id="headlessui-combobox-options-26" role="listbox" data-headlessui-state="open"
                         aria-label="Commands"
                         class="relative flex-1 overflow-y-auto divide-y divide-gray-100 dark:divide-gray-800 scroll-py-2">
                        <div class="p-2" role="option"><!---->
                            <div class="text-sm text-gray-700 dark:text-gray-200" role="listbox">
                                <div class="flex justify-between select-none items-center rounded-md px-2 py-1.5 gap-2 relative cursor-pointer"
                                     id="headlessui-combobox-option-27" role="option" tabindex="-1"
                                     aria-selected="false" value="[object Object]">
                                    <div class="flex items-center gap-2 min-w-0"><!---->
                                        <div class="flex items-center gap-1.5 min-w-0"><!----><span class="truncate">Midjourney Geometry Composition - Midjourney</span>
                                            <!----></div>
                                    </div><!----></div>
                                <div class="flex justify-between select-none items-center rounded-md px-2 py-1.5 gap-2 relative cursor-pointer"
                                     id="headlessui-combobox-option-28" role="option" tabindex="-1"
                                     aria-selected="false" value="[object Object]">
                                    <div class="flex items-center gap-2 min-w-0"><!---->
                                        <div class="flex items-center gap-1.5 min-w-0"><!----><span class="truncate">Guide: Workflow for Creating Animations using animatediff-cli-prompt-travel Step-by-Step</span>
                                            <!----></div>
                                    </div><!----></div>
                                <div class="flex justify-between select-none items-center rounded-md px-2 py-1.5 gap-2 relative cursor-pointer"
                                     id="headlessui-combobox-option-29" role="option" tabindex="-1"
                                     aria-selected="false" value="[object Object]">
                                    <div class="flex items-center gap-2 min-w-0"><!---->
                                        <div class="flex items-center gap-1.5 min-w-0"><!----><span class="truncate">10 Essential Plugins You Must Have: A Review of A1111 WebUI Extensions</span>
                                            <!----></div>
                                    </div><!----></div>
                                <div class="flex justify-between select-none items-center rounded-md px-2 py-1.5 gap-2 relative cursor-pointer"
                                     id="headlessui-combobox-option-30" role="option" tabindex="-1"
                                     aria-selected="false" value="[object Object]">
                                    <div class="flex items-center gap-2 min-w-0"><!---->
                                        <div class="flex items-center gap-1.5 min-w-0"><!----><span class="truncate">The AI Portrait Toolkit: Apps / Framework / Library / Model</span>
                                            <!----></div>
                                    </div><!----></div>
                                <div class="flex justify-between select-none items-center rounded-md px-2 py-1.5 gap-2 relative cursor-pointer"
                                     id="headlessui-combobox-option-31" role="option" tabindex="-1"
                                     aria-selected="false" value="[object Object]">
                                    <div class="flex items-center gap-2 min-w-0"><!---->
                                        <div class="flex items-center gap-1.5 min-w-0"><!----><span class="truncate">Fun Fact of Civitai Prompts</span>
                                            <!----></div>
                                    </div><!----></div>
                                <div class="flex justify-between select-none items-center rounded-md px-2 py-1.5 gap-2 relative cursor-pointer"
                                     id="headlessui-combobox-option-32" role="option" tabindex="-1"
                                     aria-selected="false" value="[object Object]">
                                    <div class="flex items-center gap-2 min-w-0"><!---->
                                        <div class="flex items-center gap-1.5 min-w-0"><!----><span class="truncate">Strategies for Prompting Self-Trained SDXL Character LoRA, Insights from Thousands of Images</span>
                                            <!----></div>
                                    </div><!----></div>
                                <div class="flex justify-between select-none items-center rounded-md px-2 py-1.5 gap-2 relative cursor-pointer"
                                     id="headlessui-combobox-option-33" role="option" tabindex="-1"
                                     aria-selected="false" value="[object Object]">
                                    <div class="flex items-center gap-2 min-w-0"><!---->
                                        <div class="flex items-center gap-1.5 min-w-0"><!----><span class="truncate">Mastering SDXL Prompt: A Step-by-Step Guide</span>
                                            <!----></div>
                                    </div><!----></div>
                                <div class="flex justify-between select-none items-center rounded-md px-2 py-1.5 gap-2 relative cursor-pointer"
                                     id="headlessui-combobox-option-34" role="option" tabindex="-1"
                                     aria-selected="false" value="[object Object]">
                                    <div class="flex items-center gap-2 min-w-0"><!---->
                                        <div class="flex items-center gap-1.5 min-w-0"><!----><span class="truncate">LoRA Models Stable Diffusion: An Essential Guide</span>
                                            <!----></div>
                                    </div><!----></div>
                                <div class="flex justify-between select-none items-center rounded-md px-2 py-1.5 gap-2 relative cursor-pointer"
                                     id="headlessui-combobox-option-35" role="option" tabindex="-1"
                                     aria-selected="false" value="[object Object]">
                                    <div class="flex items-center gap-2 min-w-0"><!---->
                                        <div class="flex items-center gap-1.5 min-w-0"><!----><span class="truncate">Exploring '1girl' Prompts Across Checkpoints in Stable Diffusion: A Quick Look</span>
                                            <!----></div>
                                    </div><!----></div>
                                <div class="flex justify-between select-none items-center rounded-md px-2 py-1.5 gap-2 relative bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-white cursor-pointer"
                                     id="headlessui-combobox-option-36" role="option" tabindex="-1"
                                     aria-selected="false" value="[object Object]">
                                    <div class="flex items-center gap-2 min-w-0"><!---->
                                        <div class="flex items-center gap-1.5 min-w-0"><!----><span class="truncate">Why Chinese Faces Are So Popular in Stable Diffusion?</span>
                                            <!----></div>
                                    </div><!----></div>
                                <div class="flex justify-between select-none items-center rounded-md px-2 py-1.5 gap-2 relative cursor-pointer"
                                     id="headlessui-combobox-option-37" role="option" tabindex="-1"
                                     aria-selected="false" value="[object Object]">
                                    <div class="flex items-center gap-2 min-w-0"><!---->
                                        <div class="flex items-center gap-1.5 min-w-0"><!----><span class="truncate">A Beginner's Guide to the Hardware Requirements | Stable Diffusion</span>
                                            <!----></div>
                                    </div><!----></div>
                                <div class="flex justify-between select-none items-center rounded-md px-2 py-1.5 gap-2 relative cursor-pointer"
                                     id="headlessui-combobox-option-38" role="option" tabindex="-1"
                                     aria-selected="false" value="[object Object]">
                                    <div class="flex items-center gap-2 min-w-0"><!---->
                                        <div class="flex items-center gap-1.5 min-w-0"><!----><span class="truncate">Exploring the Visual Impact of Parameters | Stable Diffusion</span>
                                            <!----></div>
                                    </div><!----></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>